<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/desafio_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="connection.password">1234</property>
		
        <property name="connection.pool_size">10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--<property name="show_sql">true</property>-->
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">false</property>

        <property name="hbm2ddl.auto">update</property>        
        <!--<property name="hbm2ddl.auto">create-drop</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="cache.use_second_level_cache">false</property>-->
        
        <mapping class="voto.model.Livro" />
        <mapping class="voto.model.Usuar" />
        <mapping class="voto.model.Votli" />
        
    </session-factory>

</hibernate-configuration>

<!--

        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:mem:desafio_db</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">false</property>
        
-->